@model User

<h2>User Profile</h2>

<partial name="_Toast" model="@Model" />

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.UserName</h5>
        <p class="card-text">
            <strong>Email:</strong> @Model.Email <br>
            <strong>User Type:</strong> @Model.UserType <br>

            @if (Model.UserType == UserType.Student)
            {
                <strong>Student Number:</strong> @Model.StudentNumber <br>
            }
            else if (Model.UserType == UserType.Visitor)
            {
                <strong>ID/Passport Number:</strong> @Model.PassportNumber <br>
            }
            else if (Model.UserType == UserType.Staff)
            {
                <strong>Employer ID:</strong> @Model.EmployeeID <br>
            }
        </p>
        <a asp-action="ChangePassword" class="btn btn-primary">Change Password</a>
    </div>
</div>


