@model UserProfileViewModel

<h2>User Profile</h2>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.Username</h5>
        <p class="card-text">
            <strong>Email:</strong> @Model.Email <br>
            <strong>User Type:</strong> @Model.UserType <br>

            @if (Model.UserType == "Student")
            {
                <strong>Student Number:</strong> @Model.StudentNumber <br>
            }
            else if (Model.UserType == "Visitor")
            {
                <strong>ID/Passport Number:</strong> @Model.IDNumberOrPassport <br>
            }
            else if (Model.UserType == "Staff")
            {
                <strong>Employer ID:</strong> @Model.EmployeeID <br>
            }
        </p>
        <a asp-action="ChangePassword" class="btn btn-primary">Change Password</a>
    </div>
</div>


