@model RegisterModel

<h2 class="text-center mb-4">User Profile</h2>

<partial name="_Toast" model="@Model" />
@section Styles{
    <style>
        .gradient-custom {

            background: #6a82fb;
 
            background: -webkit-linear-gradient(to right bottom, rgba(106, 130, 251, 1), rgba(172, 82, 250, 1));
         
            background: linear-gradient(to right bottom, rgba(106, 130, 251, 1), rgba(172, 82, 250, 1));
        }

    </style>

}
<section style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white"
                             style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <img src="@Model.ProfilePictureUrl" alt="Profile Picture" class="img-fluid my-5" style="width: 80px;" />
                            <h5>@Model.UserName</h5>
                            <p>@Model.UserType</p>
                            <i class="far fa-edit mb-5"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h6>Information</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Email</h6>
                                        <p class="text-muted">@Model.Email</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>User Type</h6>
                                        <p class="text-muted">@Model.UserType</p>
                                    </div>
                                </div>
                                <h6>Additional Information</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-12 mb-3">
                                        @if (Model.StudentNumber != null)
                                        {
                                            <h6>Student Number</h6>
                                            <p class="text-muted">@Model.StudentNumber</p>
                                        }
                                        else if (Model.PassportNumber != null)
                                        {
                                            <h6>ID/Passport Number</h6>
                                            <p class="text-muted">@Model.PassportNumber</p>
                                        }
                                        else if (Model.EmployeeID != null)
                                        {
                                            <h6>Employer ID</h6>
                                            <p class="text-muted">@Model.EmployeeID</p>
                                        }
                                    </div>
                                </div>
                                <div class="d-flex justify-content-start">
                                    <a asp-action="ChangePassword" class="btn btn-primary mt-3">Change Password</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




